<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Messaage Board</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% messages.forEach(message => { %>
            <%- include('messageContainer', { author: message.author, content: message.text, date: message.added }) %>
        <% }) %>
    </ul>
</body>
</html>