<li>
    <div class="message">
        <span class="message__author"><%= author %></span>
        <span class="message__content"><%= content %></span>
    </div>
    <div class="message__date"><%= added %></div>
</li>