<form method="POST" action="/new">
    <input type="text" name="author" id="author_form" placeholder="Enter your name" required>
    <input type="text" name="message" id="message_form" placeholder="Enter your message" required>
    <button type="submit">Send</button>
</form>
<a href="/">Home</a>