<li>
    <div class="message">
        <span class="message__author"><%= user %></span>
        <span class="message__content"><%= text %></span>
    </div>
    <div class="message__date"><%= added %></div>
</li>